@import "bootstrap";

body {
    font-family: 'Roboto', sans-serif;
    background: image_url('props_bg.png');
}

.top-nav {
    background-color: white;
    border-bottom-color: #c7c3c0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 120px; 
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
  }

  .top-nav .add a {
    font-weight: bold;
    color: #f1481e;
    font-size: 30px;
    letter-spacing: 1px;
    padding-left: 8px;
  }

  .top-nav .add {
    margin-top: 10px;
  }

  a.navbar-brand {
    color: #f1481e;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #e8e8e8;
    margin-top: 40px;
    padding: 0;
  }
  
  .handle {
    margin: 30px;
    color: #125688;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }

  .card p, .card .message {
    font-size: 18px;
    margin: 20px;
  }

  .card.form {
    padding: 20px;
  }

  label {
    font-size: 18px;
  }
  
  input {
    font-size: 18px;
    font-weight: 400;
  }

  .my-btn {
    background-color: #125688;
    width: 100%;
    border: none;
    font-size: 24px;
    color: white;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .my-btn-2 {
    background-color: #125688;
    width: 20%;
    border: none;
    font-size: 24px;
    color: white;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .input.boolean {
    margin-left: 18px;
    margin-top: 20px;
  }
  
  .input.boolean label {
    margin-top: 5px;
    line-height: 44px;
  }

  .gram-actions a {
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    margin-left: auto;
  }

  .comments {
    padding: 20px;
  }

  .comment {
    font-size: 16px;
    margin-top: 5px;
  }

  .comment_handle {
    font-weight: bold;
    font-size: 10px;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    color: #f1481e;
    font-size: 40px;
  }

  h4 {
    font-family: 'Poppins', sans-serif;
    color: #f1481e;
    font-size: 30px;
  }

  a:hover {
    color: rgb(247, 166, 152);
  }

  